
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  font-family: 'Inter', sans-serif;
}

.dashboard {
  min-height: 100dvh;
  padding-top: 0rem;
}

.gray-text {
  color: hsl(228, 34%, 66%);
  font-weight: 600;
}

.gray-color {
  color: hsl(228, 34%, 66%);
}

.container2 {
  width: 82%;
  margin-inline: auto;

  display: grid;
  gap: 3rem;

  padding-bottom: 100px;
}
.dark-theme {
  background-color: hsl(232, 19%, 15%);
  color: white;
}

.heading {
  font-size: 1.7rem;
}

.header-top {
  border-bottom: .7px solid hsl(228, 34%, 66%);
}

.account-cards {
  display: grid;
  gap: 1.8rem;
  /* justify-items: center; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

.account-card {
  max-width: 320px;
  /* min-width: 250px */
}

.account-card:hover {
  background-color: hsl(230, 12%, 29%);
}

.card-top-bar {
  height: 4px;
  background-color: brown;
}

.overview-cards {
  display: grid;
  gap: 1.8rem;
  /* justify-items: center; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr) );
}

.overview-card {
  max-width: 320px;
  /* min-width: 250px */
}

.overview-card:hover {
  background-color: hsl(230, 12%, 29%);
}


@media (min-width: 768px) {
  .container2 {
    width: 100%;
    gap: 2rem;
  }

  .gray-text {
    font-size: .9rem;
  }

  .header-top {
    border-bottom: none;
  }
}

@media (max-width: 450px) {

  .account-card, .overview-card {
    width: 100%;
    max-width: 450px;
  }
} 

